{{ attach_library('openagenda/openagenda.filters') }}
{{ attach_library('openagenda/openagenda.daterange-filter') }}

<div class="oa-daterange-filter oa-filter" data-oa-filter="date-range" data-oa-filter-params="{&quot;type&quot;:&quot;dateRange&quot;,&quot;name&quot;:&quot;timings&quot;}"></div>
