{{ attach_library('openagenda/openagenda.filters') }}

<div class="oa-cities-filter oa-filter" data-oa-filter="cities" data-oa-filter-params="{&quot;type&quot;:&quot;choice&quot;,&quot;name&quot;:&quot;city&quot;}"></div>
