{{ attach_library('openagenda/openagenda.filters') }}

<div class="oa-active-filter oa-filter" data-oa-widget="active-filters" data-oa-widget-params="{&quot;name&quot;:&quot;activeFilters&quot;}"></div>
