<div class="cbpgsc m-md-y-0" data-cbctl="{{ agenda_uid }}|{{ lang }}"><input type="text" placeholder="{{ placeholder }}" class="form-control"></div>
{{ attach_library('openagenda/openagenda.searchfilter') }}