{{ attach_library('openagenda/openagenda.filters') }}

<div class="oa-relative-filter oa-filter" data-oa-filter="relative" data-oa-filter-params="{&quot;type&quot;:&quot;choice&quot;,&quot;name&quot;:&quot;relative&quot;}"></div>
