{#
/**
 * @file
 * Default theme implementation for relative filter block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<div class="oa-relative-filter oa-filter" data-oa-filter="relative" data-oa-filter-params="{&quot;type&quot;:&quot;choice&quot;,&quot;name&quot;:&quot;relative&quot;}"></div>
