{#
/**
 * @file
 * Default theme implementation for keyword filter block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<div class="oa-choice-filter oa-filter" data-oa-filter="keywords" data-oa-filter-params="{&quot;type&quot;:&quot;choice&quot;,&quot;name&quot;:&quot;keyword&quot;,&quot;placeholder&quot;:&quot;{{ 'Filter'|t }}&quot;}"></div>
