{#
/**
 * @file
 * Default theme implementation for favorites filter block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<div class="oa-favorites-filter oa-filter" data-oa-filter="favorites" data-oa-filter-params="{&quot;type&quot;:&quot;favorites&quot;,&quot;activeClass&quot;:&quot;active&quot;,&quot;inactiveClass&quot;:&quot;inactive&quot;,&quot;activeFilterLabel&quot;:&quot;{{ 'Favorites'|t }}&quot;}"><label for="favorites"><input type="checkbox" id="favorites">{{ 'Favorites'|t }}</label></div>
