<div id="oa-wrapper" class="oa-agenda">
  {% if total and total > 0 %}
    {% include "openagenda-export-links.html.twig" %}
  {% else %}
    {{ 'There are no events with these search parameters.'|t }}
  {% endif %}
  <ul class="oa-list oa-list--x{{ columns }}">
    {% for event in events %}
      <li class="oa-list__item">
        {{ event.content }}
      </li>
    {% endfor %}
  </ul>
  {{ pager }}
</div>
