<div class="wbg exports">
  <a
          role="button"
          href="https://openagenda.com/agendas/{{ agenda_uid }}/events.v2.xlsx{{ search_string ? '?' ~ search_string }}">xls</a>
  <a
          role="button"
          href="https://openagenda.com/agendas/{{ agenda_uid }}/events.v2.rss{{ search_string ? '?' ~ search_string }}">rss</a>
</div>
