.relative-dates ul {
  list-style-type: none;
  margin: 0 0 0 2px;
  padding: 0;
}
.relative-dates ul li {
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  padding: 2px 8px;
  text-align: center;
  margin: 4px 0 0;
  font-size: 0.8em;
}
.relative-dates ul li a {
  color: #413a42;
  border-bottom:none;
}
.relative-dates ul li:hover {
  background: #41acdd;
}
.relative-dates ul li:hover a {
  color: #fff;
}