.tags {
  list-style-type: none;
  padding: 0;
}
.tags li {
  cursor: pointer;
  display: inline-block;
  background: white;
  border-radius: 10px;
  padding: 0 0 0 10px;
  margin: 0 5px 10px 0;
}
.tags li a {
  display: inline-block;
  border-bottom: none;
}
.tags li.oa-group-first-tag {
  margin-top: 30px;
}
.tags li .count {
  margin-left: 10px;
  color: #41acdd;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fafafa;
  font-size: 0.8em;
  display: inline-block;
  padding: 4px 10px 4px 8px;
}
.tags li.selected {
  background: #41acdd;
  color: white;
}
.tags li.selected .count {
  background: #41acdd;
  color: #fff;
}